Repository danieleschmidt/liquid-edge-lln-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @liquid-edge/maintainers, @liquid-edge/core-team, @liquid-edge/hardware-team, @liquid-edge/docs-team, @liquid-edge/devops-team, @liquid-edge/security-team, @liquid-edge/qa-team

.github/CODEOWNERS:

# Global ownership
* @liquid-edge/maintainers

# Core implementation
/src/liquid_edge/core/ @liquid-edge/core-team
/src/liquid_edge/layers/ @liquid-edge/core-team

# Hardware deployment
/src/liquid_edge/deploy/ @liquid-edge/hardware-team

# Documentation
/docs/ @liquid-edge/docs-team
*.md @liquid-edge/docs-team

# CI/CD and infrastructure
/.github/ @liquid-edge/devops-team
/pyproject.toml @liquid-edge/maintainers
/Makefile @liquid-edge/devops-team

# Security
/SECURITY.md @liquid-edge/security-team
/.pre-commit-config.yaml @liquid-edge/security-team

# Testing
/tests/ @liquid-edge/qa-team

feat: enhance SDLC infrastructure with comprehensive tooling and automation
  .bandit
  Dockerfile.dev
  Makefile
  docker-compose.yml
  docker-entrypoint.sh
  docs/observability.md
  docs/workflows/ci-cd.md
  docs/workflows/security.md
  pytest.ini
  scripts/benchmark.py
  scripts/changelog_generator.py
  scripts/security_scan.py
  tests/conftest.py
  tests/test_benchmarks.py
Owners: @liquid-edge/maintainers, @liquid-edge/devops-team, @liquid-edge/docs-team, @liquid-edge/qa-team

feat: implement comprehensive SDLC enhancement for maturing ML/robotics repository
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/environment.yml
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/DEPLOYMENT.md
  docs/MONITORING.md
  docs/SECURITY_ARCHITECTURE.md
  docs/workflows/ci-cd.md
  docs/workflows/testing.md
  scripts/security_scan.py
Owners: @liquid-edge/maintainers, @liquid-edge/docs-team

feat: complete MATURING-level SDLC enhancement with advanced automation
  .gitattributes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  docs/DEPLOYMENT.md
  docs/PERFORMANCE.md
  docs/workflows/REQUIRED_WORKFLOWS.md
  pyproject.toml
  tox.ini
Owners: @liquid-edge/maintainers, @liquid-edge/devops-team, @liquid-edge/docs-team

feat: comprehensive MATURING-level SDLC enhancement (configuration and documentation)
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  docs/INTEGRATION_GUIDE.md
  docs/MONITORING.md
  docs/SLA.md
  pyproject.toml
Owners: @liquid-edge/devops-team, @liquid-edge/docs-team, @liquid-edge/maintainers

docs: add comprehensive GitHub Actions workflows setup guide
  WORKFLOWS_SETUP_GUIDE.md
Owners: @liquid-edge/docs-team

feat: comprehensive MATURING to ADVANCED SDLC enhancement
  AUTONOMOUS_SDLC_ENHANCEMENT_SUMMARY.md
  SLSA_COMPLIANCE.md
  monitoring/docker-compose.monitoring.yml
  monitoring/grafana-dashboard.json
  monitoring/liquid_edge_rules.yml
  monitoring/prometheus.yml
  ops/disaster-recovery.md
  ops/incident-response.md
  src/liquid_edge/core.py
  src/liquid_edge/layers.py
  tests/test_performance.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers, @liquid-edge/qa-team

chore(ci): add comprehensive GitHub Actions workflows for CI, Docker, performance, release, SBOM, and security
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/security.yml
Owners: @liquid-edge/devops-team

chore: remove GitHub Actions workflows due to security restrictions
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/security.yml
Owners: @liquid-edge/devops-team

docs: add comprehensive workflow specifications for manual setup
  WORKFLOWS_FOR_MANUAL_SETUP.md
Owners: @liquid-edge/docs-team

feat: autonomous value discovery with critical bug fixes and CLI implementation
  .pre-commit-config.yaml
  .terragon/config.yaml
  .terragon/value-metrics.json
  BACKLOG.md
  src/liquid_edge/cli.py
  src/liquid_edge/core.py
  tests/conftest.py
Owners: @liquid-edge/security-team, @liquid-edge/maintainers, @liquid-edge/docs-team, @liquid-edge/qa-team

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/001-jax-backend-choice.md
  docs/adr/002-cmsis-nn-deployment.md
  docs/adr/003-energy-first-design.md
  docs/adr/README.md
  docs/adr/template.md
Owners: @liquid-edge/docs-team

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .env.example
  .license_header.txt
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Owners: @liquid-edge/maintainers

test: establish comprehensive testing infrastructure
  conftest.py
  docs/testing/README.md
  docs/testing/performance_testing.md
  tests/e2e/README.md
  tests/fixtures/README.md
  tests/integration/README.md
Owners: @liquid-edge/maintainers, @liquid-edge/docs-team, @liquid-edge/qa-team

build: add containerization and build automation
  .dockerignore
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODEOWNERS
  Dockerfile
  docker-compose.prod.yml
  scripts/build.sh
Owners: @liquid-edge/maintainers, @liquid-edge/devops-team

ops: add monitoring and observability configuration
  docs/runbooks/README.md
  docs/runbooks/model_deployment.md
  src/liquid_edge/logging_config.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat: add CI/CD workflow documentation and metrics automation
  .github/project-metrics.json
  docs/workflows/examples/ci.yml
  scripts/metrics_collector.py
Owners: @liquid-edge/devops-team, @liquid-edge/docs-team, @liquid-edge/maintainers

feat: complete SDLC implementation with comprehensive documentation
  IMPLEMENTATION_SUMMARY.md
Owners: @liquid-edge/docs-team

feat: establish project foundation and implement core liquid neural network functionality
  src/liquid_edge/__init__.py
  src/liquid_edge/core.py
  src/liquid_edge/deploy.py
  src/liquid_edge/layers.py
  src/liquid_edge/profiling.py
Owners: @liquid-edge/maintainers

feat: establish project foundation and implement core liquid neural network functionality (#10)
  src/liquid_edge/__init__.py
  src/liquid_edge/core.py
  src/liquid_edge/deploy.py
  src/liquid_edge/layers.py
  src/liquid_edge/profiling.py
Owners: @liquid-edge/maintainers

Update README.md
  README.md
Owners: @liquid-edge/docs-team

feat(liquid_edge): add comprehensive production-ready liquid neural network toolkit
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  examples/basic_training.py
  examples/mcu_deployment.py
  examples/production_robustness.py
  examples/research_comparative_study.py
  results/security_audit_report.json
  scripts/security_audit.py
  scripts/security_audit_fixed.py
  src/liquid_edge/__init__.py
  src/liquid_edge/compliance.py
  src/liquid_edge/error_handling.py
  src/liquid_edge/monitoring.py
  src/liquid_edge/ros2_integration.py
  src/liquid_edge/scaling.py
  tests/test_integration_comprehensive.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers, @liquid-edge/qa-team

feat(liquid_edge): add comprehensive production-ready liquid neural network toolkit (#12)
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  examples/basic_training.py
  examples/mcu_deployment.py
  examples/production_robustness.py
  examples/research_comparative_study.py
  results/security_audit_report.json
  scripts/security_audit.py
  scripts/security_audit_fixed.py
  src/liquid_edge/__init__.py
  src/liquid_edge/compliance.py
  src/liquid_edge/error_handling.py
  src/liquid_edge/monitoring.py
  src/liquid_edge/ros2_integration.py
  src/liquid_edge/scaling.py
  tests/test_integration_comprehensive.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers, @liquid-edge/qa-team

feat(examples): add production-ready examples, SBOM and security reports
  FINAL_AUTONOMOUS_EXECUTION_REPORT.md
  bandit-report.json
  examples/robust_training.py
  examples/scaling_optimization.py
  examples/simple_robust_training.py
  sbom.json
  security-scan-results.json
  src/liquid_edge/__init__.py
  src/liquid_edge/core.py
  src/liquid_edge/layers.py
  test_simple.py
  test_training.py
  tests/conftest.py
  tests/test_core.py
  tests/test_integration_comprehensive.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers, @liquid-edge/qa-team

feat(examples): add production-ready examples, SBOM and security reports (#13)
  FINAL_AUTONOMOUS_EXECUTION_REPORT.md
  bandit-report.json
  examples/robust_training.py
  examples/scaling_optimization.py
  examples/simple_robust_training.py
  sbom.json
  security-scan-results.json
  src/liquid_edge/__init__.py
  src/liquid_edge/core.py
  src/liquid_edge/layers.py
  test_simple.py
  test_training.py
  tests/conftest.py
  tests/test_core.py
  tests/test_integration_comprehensive.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers, @liquid-edge/qa-team

feat: complete autonomous SDLC execution with quantum leap performance
  examples/production_robustness_demo.py
  examples/research_comparative_study_advanced.py
  examples/scaling_optimization_demo.py
  examples/simple_scaling_demo.py
  examples/ultra_fast_training.py
  src/liquid_edge/__init__.py
  src/liquid_edge/core.py
  src/liquid_edge/optimized_layers.py
  src/liquid_edge/robust_training.py
  tests/test_benchmarks.py
  tests/test_performance.py
Owners: @liquid-edge/maintainers, @liquid-edge/qa-team

feat: complete autonomous SDLC execution with quantum leap performance (#14)
  examples/production_robustness_demo.py
  examples/research_comparative_study_advanced.py
  examples/scaling_optimization_demo.py
  examples/simple_scaling_demo.py
  examples/ultra_fast_training.py
  src/liquid_edge/__init__.py
  src/liquid_edge/core.py
  src/liquid_edge/optimized_layers.py
  src/liquid_edge/robust_training.py
  tests/test_benchmarks.py
  tests/test_performance.py
Owners: @liquid-edge/maintainers, @liquid-edge/qa-team

feat(deployment): add complete production deployment system and documentation
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  comprehensive_quality_gates.py
  deployment/deploy-20250810-064348-c757fa29/DEPLOYMENT.md
  deployment/deploy-20250810-064348-c757fa29/Dockerfile
  deployment/deploy-20250810-064348-c757fa29/OPERATIONS.md
  deployment/deploy-20250810-064348-c757fa29/deploy.sh
  deployment/deploy-20250810-064348-c757fa29/grafana-dashboard.json
  deployment/deploy-20250810-064348-c757fa29/k8s-deployment.yaml
  deployment/deploy-20250810-064348-c757fa29/k8s-ingress.yaml
  deployment/deploy-20250810-064348-c757fa29/k8s-service.yaml
  deployment/deploy-20250810-064348-c757fa29/prometheus.yml
  deployment/deploy-20250810-064348-c757fa29/rollback.sh
  production_deployment_system.py
  production_robustness_system.py
  quantum_leap_enhancement.py
  quantum_scaling_system.py
  results/comprehensive_quality_report.json
  results/production_deployment_report.json
  results/quantum_leap_results.json
  results/quantum_mcu_deployment.c
  results/quantum_scaling_report.json
  results/robustness_report.json
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat(deployment): add complete production deployment system and documentation (#15)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  comprehensive_quality_gates.py
  deployment/deploy-20250810-064348-c757fa29/DEPLOYMENT.md
  deployment/deploy-20250810-064348-c757fa29/Dockerfile
  deployment/deploy-20250810-064348-c757fa29/OPERATIONS.md
  deployment/deploy-20250810-064348-c757fa29/deploy.sh
  deployment/deploy-20250810-064348-c757fa29/grafana-dashboard.json
  deployment/deploy-20250810-064348-c757fa29/k8s-deployment.yaml
  deployment/deploy-20250810-064348-c757fa29/k8s-ingress.yaml
  deployment/deploy-20250810-064348-c757fa29/k8s-service.yaml
  deployment/deploy-20250810-064348-c757fa29/prometheus.yml
  deployment/deploy-20250810-064348-c757fa29/rollback.sh
  production_deployment_system.py
  production_robustness_system.py
  quantum_leap_enhancement.py
  quantum_scaling_system.py
  results/comprehensive_quality_report.json
  results/production_deployment_report.json
  results/quantum_leap_results.json
  results/quantum_mcu_deployment.c
  results/quantum_scaling_report.json
  results/robustness_report.json
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat(autonomous-sdlc): add full autonomous SDLC with quantum liquid neural network
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  autonomous_quantum_breakthrough.py
  comprehensive_quality_system.py
  global_production_deployment.py
  production_robustness_quantum.py
  quantum_research_breakthrough.py
  quantum_scaling_system.py
  results/comprehensive_quality_report.json
  results/global_production_deployment_report.json
  results/quantum_breakthrough_publication.md
  results/quantum_breakthrough_results.json
  results/quantum_scaling_report.json
  results/robustness_report.json
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat(autonomous-sdlc): add full autonomous SDLC with quantum liquid neural network (#16)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  autonomous_quantum_breakthrough.py
  comprehensive_quality_system.py
  global_production_deployment.py
  production_robustness_quantum.py
  quantum_research_breakthrough.py
  quantum_scaling_system.py
  results/comprehensive_quality_report.json
  results/global_production_deployment_report.json
  results/quantum_breakthrough_publication.md
  results/quantum_breakthrough_results.json
  results/quantum_scaling_report.json
  results/robustness_report.json
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat(autonomous-sdlc): add full autonomous SDLC system with quantum liquid neural network
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  Dockerfile.production
  autonomous_production_deployment.py
  autonomous_quantum_liquid_execution.py
  results/autonomous_production_deployment_report_76182e3b.json
  results/comprehensive_quality_report.json
  results/robust_autonomous_generation2_report.json
  results/simple_autonomous_generation1_report.json
  results/simple_scaled_generation3_report.json
  robust_autonomous_execution.py
  scaled_autonomous_execution.py
  simple_autonomous_execution.py
  simple_scaled_execution.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat(autonomous-sdlc): add full autonomous SDLC system with quantum liquid neural network (#17)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  Dockerfile.production
  autonomous_production_deployment.py
  autonomous_quantum_liquid_execution.py
  results/autonomous_production_deployment_report_76182e3b.json
  results/comprehensive_quality_report.json
  results/robust_autonomous_generation2_report.json
  results/simple_autonomous_generation1_report.json
  results/simple_scaled_generation3_report.json
  robust_autonomous_execution.py
  scaled_autonomous_execution.py
  simple_autonomous_execution.py
  simple_scaled_execution.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat(deployment): add complete production deployment infrastructure and demos
  AUTONOMOUS_SDLC_FINAL_COMPLETION_REPORT.md
  comprehensive_quality_gates_execution.py
  deployment/container/Dockerfile.production
  deployment/container/docker-compose.production.yml
  deployment/deployment-summary.json
  deployment/infrastructure/main.tf
  deployment/kubernetes/k8s-deployment.yaml
  deployment/kubernetes/k8s-ingress.yaml
  deployment/kubernetes/k8s-monitoring.yaml
  deployment/monitoring/grafana-dashboard.json
  deployment/monitoring/liquid_edge_rules.yml
  deployment/monitoring/prometheus.yml
  deployment/scripts/deploy.sh
  deployment/scripts/health-check.sh
  deployment/scripts/rollback.sh
  deployment/security/network-policies.yaml
  deployment/security/pod-security-policy.yaml
  production_deployment_final.py
  pure_python_edge_demo.py
  results/comprehensive_quality_gates_report.json
  results/generation1_simple_demo.json
  results/generation2_robust_demo.json
  results/generation3_scaled_demo.json
  robust_edge_demo.py
  scaled_edge_demo.py
  simple_edge_demo.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat(deployment): add complete production deployment infrastructure and demos (#18)
  AUTONOMOUS_SDLC_FINAL_COMPLETION_REPORT.md
  comprehensive_quality_gates_execution.py
  deployment/container/Dockerfile.production
  deployment/container/docker-compose.production.yml
  deployment/deployment-summary.json
  deployment/infrastructure/main.tf
  deployment/kubernetes/k8s-deployment.yaml
  deployment/kubernetes/k8s-ingress.yaml
  deployment/kubernetes/k8s-monitoring.yaml
  deployment/monitoring/grafana-dashboard.json
  deployment/monitoring/liquid_edge_rules.yml
  deployment/monitoring/prometheus.yml
  deployment/scripts/deploy.sh
  deployment/scripts/health-check.sh
  deployment/scripts/rollback.sh
  deployment/security/network-policies.yaml
  deployment/security/pod-security-policy.yaml
  production_deployment_final.py
  pure_python_edge_demo.py
  results/comprehensive_quality_gates_report.json
  results/generation1_simple_demo.json
  results/generation2_robust_demo.json
  results/generation3_scaled_demo.json
  robust_edge_demo.py
  scaled_edge_demo.py
  simple_edge_demo.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat(autonomous-sdlc): add comprehensive autonomous SDLC completion with demos
  FINAL_AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  comprehensive_production_system.py
  examples/autonomous_scaling_demo.py
  examples/pure_python_quantum_demo.py
  examples/pure_python_scaling_demo.py
  examples/pure_python_self_healing_demo.py
  examples/quantum_breakthrough_demo.py
  examples/self_healing_demo.py
  src/liquid_edge/autonomous_evolution.py
  src/liquid_edge/autonomous_scaling.py
  src/liquid_edge/quantum_liquid_hybrid.py
  src/liquid_edge/self_healing_system.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers

feat(autonomous-sdlc): add comprehensive autonomous SDLC completion with demos (#19)
  FINAL_AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  comprehensive_production_system.py
  examples/autonomous_scaling_demo.py
  examples/pure_python_quantum_demo.py
  examples/pure_python_scaling_demo.py
  examples/pure_python_self_healing_demo.py
  examples/quantum_breakthrough_demo.py
  examples/self_healing_demo.py
  src/liquid_edge/autonomous_evolution.py
  src/liquid_edge/autonomous_scaling.py
  src/liquid_edge/quantum_liquid_hybrid.py
  src/liquid_edge/self_healing_system.py
Owners: @liquid-edge/docs-team, @liquid-edge/maintainers
